.score-row {
  display: table-row;
  background-color: rgba(0,0,0,0.04);
}

.score-row:nth-child(even) {
  background-color: rgba(0,0,0,0.09);
}

.score-row p {
  display: table-cell;
  padding: 12px;
}

.score-row .score-rank {
  width: 22px;
  text-align: right;
  padding-right: 10px;
  padding-left: 8px;
}

.score-row .score-name {
  padding-left: 6px;
}

.score-row .score-score {
  width: 30%;
  text-align: right;
}
