.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.rows {
  display: table-row-group;
}

.toptenboard-lonely {
  margin: 10px 0 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  color: rgba(0,0,0,0.4);
}

@import "row"
