#dashboard {
  display: grid;
  grid-template: "h h" "n c";
  grid-template-rows: 58px auto;
  grid-template-columns: 245px auto;
  background-color: $light-gray;
  height: 100%;
}

#dashboard-header {
  grid-area: h;
  background-color: $off-white;
}

#dashboard-navbar {
  background-color: $dark-gray;
  grid-area: n;
}

#dashboard-content {
  grid-area: c;
}

@import "../components/dashboard/DashboardNavbar";
@import "../components/dashboard/DashboardHeader";
@import "../components/dashboard/DashboardContent";
