.display-score-screen {
  display: grid;
  grid-template-columns: 10% 30% auto 30% 10%;
  grid-template-rows: 10% 25% auto;
}

.active-users {
  font-size: 20px;
  margin-top: 30px;
}

@import "../components/scoreboard/topten";
@import "../components/scoreboard/row";
@import "../components/timer/countdownTimer";
@import "../components/timer/stopGameButton"
