#scoreboard {
  background-color: white;
  min-height: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  box-sizing: border-box;

  @include phone {
    padding: 40px;
    background-color: $dark-gray;
  }
}

.display-score-screen {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 -5px;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.display-card {
  background-color: white;
  padding: 20px 24px;
  padding-bottom: 26px;
  margin: 0;
  box-shadow: none;
  @include phone {
    margin: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

.display-card:first-child {
  flex: auto;
  padding-bottom: 0;
  @include tablet {
    flex: 2;
  }

  @include phone {
    padding-bottom: 26px;
  }
}

.display-card:last-child {
  flex: auto;
  @include tablet {
    flex: 1;
  }
}

.display-card-header {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.toptenboard-title {
  font-size: 1.6rem;
  margin-right: auto;
}

.display-score-controls {
  display: block;
  & * {
    padding: 8px;
    border-radius: 10px;
    transition: all 0.1s ease-in-out 0s;
    &:hover {
      color: $primary-dark;
    }
  }
}

#btn-stop-game {
  border: none;
  color: white;
  padding: 11px 20px;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-top: 6px;
  background-color: $primary;
  transition: background-color 0.2s ease-in-out 0s;
}

#btn-stop-game:hover {
  background-color: $primary-dark;
}

@import "../components/scoreboard/displayanswer";
@import "../components/scoreboard/topten";
@import "../components/scoreboard/row";
