.modal-default {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#dashboard-modal {
  position: absolute;
  z-index: 2;
  margin: 0;
}

#dashboard-modal .modal-content-headers {
  color: $primary-dark;
}

#modal-content-submit, .modal-content-add {
  margin: 14px 4px 0;
  padding: 13px 26px;
  border: none;
  color: white;
  transition: background-color 0.2s ease-in-out 0s;
}

#modal-content-submit {
  background-color: limegreen;
  &:hover {
    background-color: #31b731;
  }
}

.modal-content-add {
  background-color: $primary;
  &:hover {
    background-color: $primary-dark;
  }
}

.dashboard-modal-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.dashboard-modal-meta {
  & input, &select {
    border: none;
    background-color: rgba(0,0,0,0.04);
    margin-top: 6px;
  }

  & input {
    padding: 10px 16px;
  }

  & select {
    padding: 10px 12px;
    color: rgba(0,0,0,0.6);
  }
}

.dashboard-modal-header {
  display: flex;
  align-items: center;
  background-color: #202123;
  padding: 20px 30px;
}

.dashboard-modal-title {
  font-size: 1.4em;
  color: white;
}

.dashboard-modal-content {
  padding: 20px 30px;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

#dashboard-modal-close {
  cursor: pointer;
  color: white;
  margin-right: 0;
  margin-left: auto;
}

#dashboard-modal-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  margin: auto;
  transition: all 0.4s ease-in-out 0s;

  @include tablet {
    max-width: 700px;
    width: 80%;
    height: 80%;
  }
}

.dashboard-modal-inputs .modal-question-item:first-child {
  padding-top: 6px;
}

#dashboard-modal-backdrop {
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
}

.form-error {
  border: solid 2px $red !important;
}

@import "./ModalQuestionItem";
