#dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 1;
  position: relative;
  animation: fade-in-down 0.6s ease-in-out 0s;
}

#dashboard-header-logout {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.3s ease-in-out 0s;
}

#dashboard-header-breadcrumb {
  display: none;

  @include tablet {
    padding-left: 24px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
  }
}

#dashboard-header-breadcrumb p {
  margin-right: 8px;
}

#dashboard-header-logout > p {
  margin-right: 8px;
}

#dashboard-header-logout:hover, #dashboard-header-logout:focus {
  background-color: $pressed-gray;
}

#dashboard-header-body {
  color: $darker-gray;
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  padding: 10px 0;
}

#dashboard-header-style {

  display: flex;
  background-color: $darker-gray;
  color: white;
  height: 100%;
  align-items: center;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 61px;

  opacity: 0;
  left: -240px;
  animation: fade-in-right 0.6s ease-in-out 0.2s forwards;
  transition: width 0.4s ease-in-out 0s;

  @include phone {
    width: 245px;
    font-size: 0.85em;
  }
}

#dashboard-title {
  display: none;
  @include phone {
    display: block;
    margin: 0;
    font-size: 1.5em;
  }

}
#dashboard-logo {
  margin-left: 5px;
  margin-right: 5px;
  height: 80%;
}

#dashboard-header-dropdown-button {
  margin: 0 12px 0 auto;
  background-size: contain;
  border: none;
  width: 20px;
  height: 20px;
  @include tablet {
    display: none;
  }
}
