#dashboard-content {
  flex-grow: 1;
  padding: 20px;
}

#dashboard-content-header {
  flex-direction: row;
  align-items: flex-start;
  background-color: $off-white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px 26px;
  margin-bottom: 12px;
}

#dashboard-content-controls {
  margin-top: 4px;
  margin-left: auto;
}

.quiz-name-edit-label {
  font-size: 2em;
  color: $primary-dark;
}

.group-name-edit-label {
  font-size: 1.4em;
  margin-top: 4px;
}

.quiz-button {
  border: none;
  font-size: 0.75em;
  width: 60px;
  padding: 10px 0;
  cursor: pointer;
  transition: background 0.2s ease-in-out 0s;
  color: white;
}

.quiz-button:focus {
  outline: none;
}

#start-quiz-button {
  margin-right: 10px;
  background-color: $primary;
}

#delete-quiz-button {
  background-color: $red;
}

#edit-quiz-button {
  margin-right: 10px;
  background-color: #8f4978;
}

@include tablet {
  #start-quiz-button:hover {
    background-color: $primary-dark;
  }

  #delete-quiz-button:hover {
    background-color: $red-dark;
  }

  #edit-quiz-button:hover {
    background-color: #773862;
  }
}

.dashboard-content {
  &__quiz {
    background-color: $off-white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px 26px;
    margin-bottom: 12px;
  }

  &__title {
    color: $primary-dark;
    font-size: 2rem;
    margin-bottom: 4px;
    &--question {
      font-size: 1.4rem;
    }
  }

  &__item {
    &--question, &--choice {
      padding-left: 15px;
    }
    &--question {
      margin-bottom: 16px;
    }
    &--choice, &--choice--image, &--answer {
      color: rgba(0,0,0,0.6);
      border: 2px solid rgba(0,0,0,0.6);
      text-align: center;
      padding: 4px 12px;
      margin: 6px;
      font-weight: bold;
    }
    &--answer {
      color: $primary-dark;
      border-color: $primary-dark;
    }
    &--choice--image {
      padding: 0;
      width: calc(25% - 16px);
      height: 250px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: white;
    }
  }

  &__choices {
    padding: 10px;
    margin: 6px 0;
    background-color: rgba(0,0,0,0.03);
    display: flex;
    flex-wrap: wrap;
  }

  &__image {

  }
}
