#dashboard-header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;
}

#dashboard-title {
  margin: 0;
  font-size: 1.5em;
  @include tablet {
    margin: 12px;
    font-size: 2em;
  }

}
#dashboard-logo {
  height: 85px;
  width: 85px;
  margin-right: 5px;
  display: none;
  @include tablet {
    display: block;
    width: 60px;
    height: 60px;
  }
  @include large-desktop {
    height: 85px;
    width: 85px;
  }
}

#dashboard-header-dropdown-button {
  margin: 0 12px 0 auto;
  background-size: contain;
  border: none;
  width: 20px;
  height: 20px;
  @include tablet {
    display: none;
  }
}