.quiz-navbar-item {
  margin-top: 12px;
  margin-left: 32px;
  width: 100%;
  cursor: pointer;
}

.quiz-navbar-name {
  transition: color 0.2s ease-in-out 0s;
}

.quiz-navbar-name:hover {
  color: $primary;
}
