$red: #d51621;
$red-dark: #ca0e1c;
$primary: #026fda;
$primary-dark: #1264b6;
$off-white: #fafafa;
$dark-white: #ffffff;
$dark-gray: #323234;
$darker-gray: #202023;
$light-gray: #e1e6e9;
$ligher-gray: #e8e8e8;
$pressed-gray: #e1e4e7;
